<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRADURIA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/css/styles_index.css" th:href="@{/css/styles_index.css}"/>
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="menu-container">
    <div class="menu-container-item">
        <h2>APP REGISTRADURIA</h2>
    </div>
    <div class="menu-container-item">
        <ul>
            <li><a href="#" th:href="@{/crear}">Agregar Nuevo Registro</a></li>
            <li><a href="#" th:href="@{/listar}">Consultar Registros</a></li>
        </ul>
    </div>

</div>
</body>
</html>